.btn-primary {
    background-color: palevioletred;
    max-width: 100%;
    padding: 6px 25px;
}

.container {
    margin: 100px auto 100px auto;
}

.editLink {
    color: greenyellow;
}

.deleteLink {
    color: red;
}

table {
    text-align: center;
}

thead {
    background-color: plum;
}

thead th {
    color: whitesmoke;
}